---
const { name, image, imageAlt = "" } = Astro.props;
---

<aside class="infoboxes">
    <div class="info-image">
        <img src={image} alt={imageAlt} />
    </div>
    <div class="info-name">{name}</div>
    <slot />
</aside>

<style lang="scss">
  .infoboxes {
    float: right;
    width: 280px;
    margin: 0 0 24px 32px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #ccc;
    font-size: 0.85rem;

    .info-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .info-name {
      text-align: center;
      font-size: 1rem;
      color: #ffffff;
      padding: 10px;
      background-color: #222;
      border-bottom: 1px solid #333;
      letter-spacing: 1px;
    }
  }
</style>
