---
const { title } = Astro.props;
---

<div class="info-section">
    <div class="info-section-title">{title}</div>
    <slot />
</div>

<style lang="scss">
  .info-section {
    .info-section-title {
      background-color: #2a2a2a;
      color: #aaa;
      padding: 6px 10px;
      font-size: 0.8rem;
      letter-spacing: 1px;
      border-bottom: 1px solid #333;
      text-transform: uppercase;
      text-align: center;
    }
  }
</style>
